<div xmlns:th="http://www.w3.org/1999/xhtml">
    <input hidden name="cycle" th:value="${activeCycle}" th:field="*{cycle}">
    <div class="uk-margin">
        <label th:text="#{add.transaction.amount}"></label>
        <input value="0" type="number" step="0.01" name="amount" class="uk-input" th:field="*{amount}">
    </div>
    <div class="uk-margin">
        <label th:text="#{add.transaction.date}"></label>
        <input id="transactionDate" type="date" th:min="${activeCycle.dateFrom}" th:max="${activeCycle.dateTo}" name="transactionDate" class="uk-input" th:field="*{transactionDate}">
    </div>
    <div class="uk-margin">
        <label th:text="#{add.transaction.type}"></label>
        <select class="uk-select" name="transactionType" th:field="*{transactionType}">
            <option th:each ="type : ${transactionTypes}" th:value="${type}" th:text="${type.name}"></option>
        </select>
    </div>
    <div class="uk-margin">
        <label th:text="#{add.transaction.group}"></label>
        <select class="uk-select" name="transactionGroup" th:field="*{transactionGroup}">
            <option th:each ="group : ${transactionGroups}" th:value="${group.id}" th:text="${group.gorupName}"></option>
        </select>
    </div>
    <a th:if="${!transactionGroups.isEmpty() && activeCycle != null}" th:text="#{add.transaction.save}" class="uk-float-right" onclick="$(this).closest('form').submit()"><span class="uk-margin-small-right" uk-icon="icon: check"></span></a>
    <a th:if="${transactionGroups.isEmpty() || activeCycle == null}" th:text="#{add.transaction.save}" class="uk-text-muted uk-float-right"><span class="uk-margin-small-right" uk-icon="icon: check"></span></a>
</div>