<form th:action="@{/import/add}" method="POST" xmlns:th="http://www.w3.org/1999/xhtml">
    <table class="uk-table uk-table-striped uk-table-hover">
        <thead>
        <tr>
            <th>Lp</th>
            <th class="uk-width-small">Typ transakcji</th>
            <th class="uk-width-small">Kwota</th>
            <th class="uk-width-medium">Data</th>
            <th class="uk-width-large">Opis</th>
            <th class="uk-width-medium">Sposób transakcji</th>
            <th class="uk-width-medium">Grupa transakcj</th>
        </tr>
        </thead>
        <tbody>
        <tr class="operation-row" th:each="transaction,index : ${importedTransactions}">
            <td th:text="${index.index +1}"></td>
            <td>
                <p class="uk-text-uppercase" th:text="${transaction.transactionType.name}"></p>
                <input hidden th:value="${transaction.transactionType}" th:name="|transactionsDto[${index.index}].transactionType|">
            </td>
            <td>
                <p th:text = ${transaction.amount}></p>
                <input hidden type="number" th:value="${transaction.amount}" th:name = "|transactionsDto[${index.index}].amount|">
            </td>
            <td>
                <p th:text="${transaction.date}"></p>
                <input hidden th:value="${transaction.date}" th:name="|transactionsDto[${index.index}].transactionDate|">
            </td>
            <td class="operation-description" th:title="${transaction.description}"
                th:text="${transaction.description.length() > 100} ? ${#strings.substring(transaction.description,0,99)} + '...' : ${transaction.description}"></td>
            <td th:text="${transaction.operationType}"></td>
            <td>
                <select id="transaction-group-template" class="uk-select" th:name="|transactionsDto[${index.index}].transactionGroup|">
                    <option th:each ="group : ${transactionGroups}" th:value="${group.id}" th:text="${group.gorupName}"></option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="uk-text-center">
        <button type="submit" class="uk-button uk-button-primary">Importuj</button>
    </div>
</form>