<div xmlns:th="http://www.w3.org/1999/xhtml">
    <table class="uk-table uk-table-striped">
        <thead>
        <tr>
            <th class="uk-text-center" th:text="#{add.transaction.amount}"></th>
            <th class="uk-text-center" th:text="#{add.transaction.type}"></th>
            <th class="uk-text-center" th:text="#{add.transaction.group}"></th>
            <th class="uk-text-center" th:text="#{add.transaction.date}"></th>
            <th></th>
        </tr>
        </thead>
        <tbody class="uk-text-bold">
        <tr th:each="transaction : ${transactionPage.getContent()}">
            <th class="uk-text-center"><span th:text="${transaction.amount}" th:remove="tag"></span> zł</th>
            <th class="uk-text-center">
                    <span class="label-radius"
                          th:classappend="${transaction.transactionType == T(com.chudzick.expanses.domain.expanses.TransactionType).INCOME} ? uk-label-success : uk-label-danger"
                          th:text="${transaction.transactionType.name}"></span>
            </th>
            <th class="uk-text-center" th:text="${transaction.transactionGroup.gorupName}"></th>
            <th class="uk-text-center" th:if="${transaction.isConstantTransaction()}"><span class="label-radius uk-label">STAŁA</span></th>
            <th class="uk-text-center" th:if="${!transaction.isConstantTransaction()}" th:text="${transaction.transactionDate}"></th>
            <th class="uk-text-center"><form method="POST" th:action="@{/transaction/delete/{transactionId}(transactionId=${transaction.id})}">
                <input hidden name="transactionDuration" th:value="${transaction.transactionDuration}">
                <button class="uk-alert-danger" type="submit"  uk-icon="trash"></button>
            </form></th>
        </tr>
        </tbody>
    </table>
    <ul th:if="${transactionPage.getTotalPages() > 1}" class="uk-pagination uk-flex-center" uk-margin>
        <li th:each="index : ${#numbers.sequence( 1,transactionPage.getTotalPages(),1)}">
            <input hidden class="page-number" th:value="${index-1}">
            <input th:if="${archiveCycle != null && !archiveCycle.active}" hidden class="cycle-id" th:value="${archiveCycle.id}">
            <a class="page-select" th:classappend="${(transactionPage.getCurrentPage() + 1) == index} ? 'uk-text-bold' "  th:text="${index}"></a>
        </li>
    </ul>
</div>