<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{mainTemplates/mainTemplate :: layout(~{::title}, ~{::.content}, ~{::script}, ~{::style})}">
<head>
    <title>Add new  transaction</title>
    <style>
        .label-radius{
            border-radius: 5px;
        }

        .uk-label, .uk-label-danger , .uk-label-success {
            padding: 2px 5px;
            width: 250px !important;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('#transactionDate').val($('#cycle-start-date').val());
        })
    </script>
</head>
<body>
<div class="content">
    <div class="uk-flex-between uk-flex">
        <div class="uk-width-1-3">
            <h3 class="uk-card-title uk-margin-remove-bottom uk-text-uppercase uk-text-primary">Cykl archiwalny</h3>
            <p class="uk-text-meta uk-margin-remove-top" th:text="${cycleDisplayInfo.cycleDisplayName}"></p>
        </div>
    </div>
    <hr>
    <input hidden id="cycle-start-date" th:value="${activeCycle.dateFrom}">
    <div th:if="${transactionGroups.isEmpty()}" class="uk-alert-warning" uk-alert>
        <i><span class="uk-margin-small-right" uk-icon="icon: warning; ratio : 1.5"></span>Obecnie nie posiadasz dodanej żadnej grupy transakcji przez co nie możesz dodawać nowych transakcji
            ,aby dodać swoją pierwszą grupę <a href="/transaction/group">kliknij tu</a>.</i>
    </div>
    <div th:if="${activeCycle == null}" class="uk-alert-warning" uk-alert>
        <i><span class="uk-margin-small-right" uk-icon="icon: warning; ratio : 1.5"></span>Obecnie nie posiadasz aktywnego cyklu przez co nie możesz dodawać nowych transakcji. Aby aktywować cykl należy przejść do <a href="/settings">ustawień urzytkownika</a>.
            Zaleca się ustawienie automatycznego odnawiania się cyklu, oszczędzi to czasu w przyszłości ponieważ cykle będą sie otwierać automatycznie.</i>
    </div>

    <div class="uk-card uk-card-default uk-width-1-2">
        <div class="uk-card-header">
            <h2 th:text="#{add.transaction.title}"></h2>
        </div>
        <div class="uk-card-body">
            <form class="uk-form" th:object="${singleTransactionDto}" th:action="@{/archive/transaction/add}" method="POST" th:insert="transaction/include/addSingleTransactionForm.html">
            </form>
        </div>
    </div>

</div>
</body>
</html>