<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{mainTemplates/mainTemplate :: layout(~{::title}, ~{::.content}, ~{::script}, ~{::style})}">
<head>
    <title>Add new  transaction</title>
    <style>
        .add-user:hover {
            opacity: 0.7 !important;
            cursor: pointer !important;
            }
    </style>
    <script th:inline="javascript">
        $(document).ready(function () {
            $('.savingDate').flatpickr({
                altInput: true,
                altFormat: "F j, Y",
                dateFormat: "Y-m-d",
                locale : 'pl',
                defaultDate : new Date().toISOString().substr(0, 10)
            });
            $('.uk-range').on('change',function () {
                if (parseInt($(this).val()) === 1) {
                    $('input[name="addAllSavings"]').val(true);
                    $('#allSavingsTrue').attr('hidden',false);
                    $('#allSavingsFalse').attr('hidden',true);
                } else {
                    $('input[name="addAllSavings"]').val(false);
                    $('#allSavingsTrue').attr('hidden',true);
                    $('#allSavingsFalse').attr('hidden',false);
                }
            });

            $('.payment-type-select').on('change',function () {
                if ($(this).children('option:selected').text() === 'WPŁATA') {
                    $('.saving-payment-amount').attr('max',/*[[ ${viewBean.savingToAllocate} ]]*/);
                } else {
                    $('.saving-payment-amount').attr('max',$(this).parent().find('.max-take-out-amount').val());
                }
            });

            $(document).on('click','.page-select',function () {
                let pageNumber = $(this).parent().find('input[class="page-number"]').val();
                let goalId = $(this).parent().find('input[class="page-saving-goal-id"]').val();
                $.ajax({
                    type: "GET",
                    url: "/savings/"+ goalId +"/payment/page/"+pageNumber,
                    success : function (response) {
                        var table = $('#payment-table-' + goalId);
                        $(table).empty();
                        $(table).append(response);
                    }
                });
            });

            $(document).on('click','.open-friend-modal',function () {
                $.ajax({
                    type: "GET",
                    url: "/savings/available/users/invite/list/" + $(this).attr('id'),
                    success : function (response) {
                        let list = $('#invite-user-list');
                        $(list).empty();
                        $(list).append(response);
                        UIkit.modal('#friend-add-modal').show();
                    }
                });
            });

            $('.finished-goal')
            .on('mouseover',function () {
                $(this).find('.hide-details').attr('hidden',false);
            })
            .on('mouseout',function () {
                $(this).find('.hide-details').attr('hidden',true);
            })
        })
    </script>
</head>
<body>
<div class="content">

    <div th:if="${viewBean.goalRequests != null && !viewBean.goalRequests.isEmpty()}">
        <div class="uk-width-expand">
            <h3 class="uk-text-primary uk-margin-remove-bottom">Zaproszenia od innych użytkowników</h3>
            <i class="uk-text-meta uk-margin-remove-top">Wszystkie zaproszenia od innych użytkowników programu do wspólnego oszczędzania na dany cel.</i>
        </div>
        <hr class="uk-margin-remove-top">

        <div th:each="invitation : ${viewBean.goalRequests}" class="uk-margin">
            <article class="uk-comment uk-comment-primary">
                <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-comment-avatar" th:src="@{/picture/profile/{userId}(userId=${invitation.savingGoalOwner.id})}" width="80" height="80" alt="">
                    </div>
                    <div class="uk-width-expand">
                        <h4 class="uk-comment-title uk-margin-remove" th:text="${invitation.savingGoalOwner.name + ' ' + invitation.savingGoalOwner.lastName }"></h4>
                        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                            <li th:if="${invitation.getDaysAgo() > 0}"><span><span th:remove="tag" th:text="${invitation.getDaysAgo()}"></span> dni temu</span></li>
                            <li th:if="${invitation.getDaysAgo() == 0}"><span>DZISIAJ</li>
                            <li><a href="#">ZAPROSZENIE</a></li>
                        </ul>
                    </div>
                </header>
                <div class="uk-comment-body">
                    <p><span class="uk-text-bold">CEL OSZCZĘDZANIA: </span><span th:text="${invitation.savingGoal.goalName}"></span></p>
                    <p><span class="uk-text-bold">OKRES OSZCZĘDZANIA: </span><span class="uk-text-muted" th:text="${#temporals.format(invitation.savingGoal.dateFrom, 'yyyy-MM-dd')}"></span> - <span class="uk-text-muted" th:text="${#temporals.format(invitation.savingGoal.dateTo, 'yyyy-MM-dd')}"></span></p>
                    <hr>
                    <div>
                        <a th:href="@{/savings/invitation/{invitationId}/accept(invitationId=${invitation.id})}" class="uk-float-right uk-button-primary uk-button">Zaakceptuj</a>
                        <a th:href="@{/savings/invitation/{invitationId}/reject(invitationId=${invitation.id})}" class="uk-float-right uk-button-danger uk-button uk-margin-medium-left">Odrzuć</a>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <div class="uk-width-expand">
        <h3 class="uk-text-primary uk-margin-remove-bottom">Cele Oszczędzania</h3>
        <i class="uk-text-meta uk-margin-remove-top">Wszystkie cele na jakie osczędza użytkownik. Można dodawać dowolną ilość
            celów oszczędzania, natomiast do każdego z nich użytkownik samodzielnie przydziela zaoszczędzone środki
            podczas wyszstkich swoich cyklów.</i>
    </div>
    <hr class="uk-margin-remove-top">

    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
            <div style="border-top : 5px solid green; border-radius : 5px 5px 0 0;" class="uk-card uk-card-default uk-card-body">
                <div class="uk-width-expand">
                    <span class="uk-margin uk-text-uppercase">Aktualnie aktywnych celów oszczędzania: </span><span class="uk-text-bold" th:text="${viewBean.userSavingGoals.size()}"></span>
                </div>
            </div>
        </div>
        <div>
            <div style="border-top : 5px solid green; border-radius : 5px 5px 0 0; height:100%" class="uk-card uk-card-default uk-card-body">
                <div class="uk-width-expand">
                    <span class="uk-margin uk-text-uppercase">Łączna suma zaoszczędzonych środków: </span>
                    <span class="uk-text-bold" th:text="${#numbers.formatDecimal(viewBean.savingSum, 0, 'COMMA', 2, 'POINT')}"></span> zł<br>
                </div>
            </div>
        </div>
        <div>
            <div style="border-top : 5px solid green; border-radius : 5px 5px 0 0; height:100%" class="uk-card uk-card-default uk-card-body">
                <div class="uk-width-expand">
                    <span class="uk-margin uk-text-uppercase">Środki dostępne do rozdysponowania: </span>
                    <span class="uk-text-bold" th:text="${#numbers.formatDecimal(viewBean.savingToAllocate, 0, 'COMMA', 2, 'POINT')}"></span> zł<br>
                </div>
            </div>
        </div>
    </div>


    <div uk-modal id="goal-add-modal">
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">DODAJ NOWY CEL</h2>
            </div>
            <div class="uk-modal-body">
                <form class="uk-form" th:object="${savingGoalDto}" th:action="@{/savings/goal/add}" method="POST">
                    <div>
                        <div class="uk-margin">
                            <label th:text="#{saving.goal.name}"></label>
                            <input type="text" name="name" class="uk-input" th:field="*{name}">
                        </div>
                        <div class="uk-margin">
                            <label th:text="#{saving.goal.amount}"></label>
                            <input value="0" type="number" step="0.01" name="totalAmount" class="uk-input" th:field="*{totalAmount}">
                        </div>
                        <div class="uk-margin">
                            <label th:text="#{saving.goal.initialAmount}"></label>
                            <input value="0" type="number" step="0.01" name="totalAmount" class="uk-input" th:field="*{initialAmount}">
                        </div>
                        <div class="uk-margin">
                            <label th:text="#{saving.goal.date.from}"></label>
                            <input type="date" name="dateFrom" class="uk-input savingDate" th:field="*{dateFrom}">
                        </div>
                        <div class="uk-margin">
                            <label th:text="#{saving.goal.date.to}"></label>
                            <input type="date" name="dateTo" class="uk-input savingDate" th:field="*{dateTo}">
                        </div>
                        <a th:text="#{add.transaction.save}" class="uk-float-right" onclick="$(this).closest('form').submit()"><span class="uk-margin-small-right" uk-icon="icon: check"></span></a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div uk-modal id="friend-add-modal">
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">ZAPROŚ INNEGO UŻYTKOWNIKA</h2>
            </div>
            <div id="invite-user-list" class="uk-modal-body">
            </div>
        </div>
    </div>

    <div style="border-left : 5px solid #1e87f0" class="uk-card uk-card-default uk-width-1-1 uk-margin-medium uk-height-small">
        <div class="uk-card-body">
            <a href="#goal-add-modal" uk-toggle class="uk-margin uk-text-uppercase"><span  uk-icon="icon: plus" class="uk-margin-small-right" ></span>Dodaj nowy cel</a>
        </div>
    </div>

    <ul uk-accordion="multiple: true">
        <li class="uk-open">
            <h2 th:if="${viewBean.userSavingGoals != null && !viewBean.userSavingGoals.isEmpty()}" class="uk-accordion-title uk-text-primary uk-margin-remove-bottom">Aktywne cele oszczędzania</h2>
            <hr th:if="${viewBean.userSavingGoals != null && !viewBean.userSavingGoals.isEmpty()}" class="uk-margin-remove-top">
            <div class="uk-accordion-content" th:insert="savings/include/savingGoalCard.html" th:with="goalsList=(${viewBean.userSavingGoals})"></div>
        </li>
        <li>
            <h2 th:if="${viewBean.closedSavingsGoals != null && !viewBean.closedSavingsGoals.isEmpty()}" class="uk-accordion-title uk-text-primary uk-margin-remove-bottom">Zakończone cele oszczędzania</h2>
            <hr th:if="${viewBean.closedSavingsGoals != null && !viewBean.closedSavingsGoals.isEmpty()}" class="uk-margin-remove-top">
            <div class="uk-accordion-content" th:insert="savings/include/savingGoalCard.html" th:with="goalsList=(${viewBean.closedSavingsGoals})"></div>
        </li>
    </ul>



</div>
</body>
</html>