<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{mainTemplates/mainTemplate :: layout(~{::title}, ~{::.content}, ~{::script}, ~{::style})}">
<head>
    <title></title>
    <style>
        .label-radius {
            border-radius: 5px;
        }

        .uk-label {
            padding: 2px 5px;
            width: 100px !important;
        }
    </style>
    <script></script>
</head>
<body>
    <div class="content">
        <div class="uk-width-expand">
            <h4 style="color: #1e87f0" class="uk-margin-remove-bottom">Zarządzanie cyklami</h4>
            <i class="uk-text-meta uk-margin-remove-top">Wszystkie cykle urzytkownika <span th:remove="tag" th:text="${@userBean.getAppUser().getName() + ' ' + @userBean.getAppUser().getLastName()}"></span></i>
        </div>
        <hr>
        <table class="uk-table uk-table-striped">
            <thead>
            <tr>
                <th class="uk-text-center">LP.</th>
                <th class="uk-text-center">Cykl od</th>
                <th class="uk-text-center">Cykl do</th>
                <th class="uk-text-center">Aktywny</th>
                <th class="uk-text-center">Zarządzaj</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cycle,index : ${cyclesList}">
                <td class="uk-text-center" th:text="${index.index + 1}"></td>
                <td class="uk-text-center" th:text="${cycle.dateFrom}"></td>
                <td class="uk-text-center" th:text="${cycle.dateTo}"></td>
                <td class="uk-text-center">
                    <span class="label-radius uk-label" th:classappend="${cycle.active} ? uk-label-success : uk-label-danger"
                          th:text="${cycle.active} ? 'AKTUALNY' : 'ZAKOŃCZONY'"></span>
                </td>
                <td class="uk-text-center"><form method="GET" th:action="@{/cycle/manage/{cycleId}(cycleId=${cycle.id})}">
                    <button class="uk-text-primary uk-text-bold" type="submit"  uk-icon="file-edit"></button>
                </form></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>