<div xmlns:th="http://www.w3.org/1999/xhtml">
    <table th:if="${paymentPage.content != null && !paymentPage.content.isEmpty()}" class="uk-table uk-table-striped">
        <thead>
        <tr>
            <th>Data wpłaty</th>
            <th>Typ wpłaty</th>
            <th>Osoba wpłacająca</th>
            <th>Kwota</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="payment,index : ${paymentPage.content}"  th:if="${index.index < 5}">
            <td th:text="${payment.paymentDate}"></td>
            <td th:text="${payment.savingPaymentType.name}"></td>
            <td th:text="${payment.appUser.name + ' ' + payment.appUser.lastName}"></td>
            <td th:text="${#numbers.formatDecimal(payment.amount, 0, 'COMMA', 2, 'POINT')}"></td>
        </tr>
        </tbody>
    </table>

    <ul th:if="${paymentPage.getTotalPages() > 1}" class="uk-pagination uk-flex-center" uk-margin>
        <li th:each="index : ${#numbers.sequence( 1,paymentPage.getTotalPages(),1)}">
            <input hidden class="page-number" th:value="${index-1}">
            <input hidden class="page-saving-goal-id" th:value="${goal.id}">
            <a class="page-select" th:classappend="${(paymentPage.getCurrentPage() + 1) == index} ? 'uk-text-bold' "  th:text="${index}"></a>
        </li>
    </ul>
</div>
