<div xmlns:th="http://www.w3.org/1999/xhtml">
    <div
         th:classappend="${goal.finished()} ? 'finished-goal' : ''"
         th:each="goal : ${goalsList}"
         th:styleappend="${goal.finished()} ? 'border-left : 5px solid gray' : 'border-left : 5px solid green'"
         class="uk-card uk-card-default uk-width-1-1 uk-margin-medium">
        <div class="uk-card-header">
            <div class="uk-flex uk-flex-between">
                <div class="uk-width-1-2">
                    <h3 class="uk-margin-remove-bottom uk-text-primary uk-text-uppercase" th:text="${goal.savingGoal.goalName}"></h3>
                </div>
                <div class="uk-width-1-6">
                    <a class="uk-alert-danger uk-float-right uk-icon-button" th:href="@{/savings/goal/delete/{goalId}(goalId = ${goal.savingGoal.id})}"  uk-icon="icon: trash"></a>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <p><span class="uk-text-bold">OKRES OSZCZĘDZANIA: </span><span class="uk-text-muted" th:text="${#temporals.format(goal.savingGoal.dateFrom, 'yyyy-MM-dd')}"></span> - <span class="uk-text-muted" th:text="${#temporals.format(goal.savingGoal.dateTo, 'yyyy-MM-dd')}"></span></p>

            <label class="uk-text-bold">Progres oszczędzania</label>
            <div class="uk-flex uk-flex-between uk-margin-auto-bottom">
                <div class="uk-width-1-4 uk-text-muted">Aktualnie oszczędzone: <span th:text="${#numbers.formatDecimal(goal.savingGoal.currentlySaved, 0, 'COMMA', 2, 'POINT')}"></span> zł</div>
                <div class="uk-width-1-4 uk-text-muted" style="margin-right: 10%">Zakładana oszczędność: <span th:text="${#numbers.formatDecimal(goal.savingGoal.goal, 0, 'COMMA', 2, 'POINT')}"></span> zł</div>
            </div>
            <div class="uk-flex uk-flex-around">
                <div style="margin-top: 10px;width : 85%"><progress class="uk-progress" th:value="${goal.savingGoal.currentlySaved}" th:max="${goal.savingGoal.goal}"></progress></div>
                <div class="uk-text-bold" style="width : 10%"><h3><span th:remove="tag" th:text="${#numbers.formatDecimal(((goal.savingGoal.currentlySaved * 100)/goal.savingGoal.goal), 1, 0)}"></span>%</h3></div>
            </div>

            <hr>
            <div th:attr="hidden=${goal.finished() ? 'hidden' : null}" class="hide-details">
                <div>
                    <label class="uk-text-bold uk-margin-small-right">Osoby odkładające na ten cel: </label>
                    <span th:each = "user : ${goal.savingGoal.appUsers}">
                    <img th:title="${user.name + ' ' + user.lastName}" class="uk-border-circle" width="50" height="50" th:src="@{/picture/profile/{userId}(userId=${user.id})}">
                </span>
                    <span>
                    <a th:id="${goal.savingGoal.id}" class="open-friend-modal"><img title="Zaproś innego użytkownika" class="uk-border-circle add-user" width="50" height="50" th:src="@{/img/add-user.png}"></a>
                </span>
                </div>
                <hr>
                <p><span class="uk-text-bold">Aktualna liczba wpłat własnych użytkowników: </span><span th:text="${goal.savingGoal.savingPayments.size()}"></span></p>
                <p><span class="uk-text-bold">Aktualna suma wpłat własnych: </span><span th:text="${#numbers.formatDecimal(goal.userPaymentsSum, 0, 'COMMA', 2, 'POINT')}"></span> zł</p>
                <form class="uk-grid-small" th:object="${savingPaymentDto}" uk-grid method="POST" th:action="@{/savings/payment/add/{id}(id=${goal.savingGoal.id})}">
                    <div class="uk-width-1-5">
                        <input value="0" type="number" step="0.01" th:max="${viewBean.savingToAllocate}"
                               th:field="*{amount}" name="amount" class="uk-input saving-payment-amount">
                    </div>
                    <div class="uk-width-1-5">
                        <select th:field="*{type}" class="uk-select payment-type-select">
                            <option class="uk-text-uppercase" th:each ="type : ${savingPaymentType}" th:value="${type}" th:text="${type.name}"></option>
                        </select>
                        <input hidden class="max-take-out-amount" th:value="${goal.userPaymentsSum}" name="userPaymentsSum">
                    </div>
                    <div class="uk-width-1-5">
                        <button type="submit" class="uk-button uk-button-secondary">Dodaj</button>
                    </div>
                    <div class="uk-width-1-5">
                        <a th:href="@{/savings/goal/payment/add/all/{goalId}(goalId=${goal.savingGoal.id})}" class="uk-button uk-button-primary">Wpłać wszystko</a>
                    </div>
                    <div class="uk-width-1-5">
                        <a th:href="@{/savings/goal/payment/take/all/{goalId}(goalId=${goal.savingGoal.id})}" class="uk-button uk-button-danger">Wypłać wszystko</a>
                    </div>
                </form>

                <div th:id="'payment-table-'+ ${goal.id}" class="payment-table" th:insert="savings/include/paymentTablePageable.html" th:with="paymentPage=(${goal.paymentPage}),goal=(${goal.savingGoal})">
                </div>
            </div>
        </div>
    </div>
</div>