<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{mainTemplates/mainTemplate :: layout(~{::title}, ~{::.content}, ~{::script}, ~{::style})}">
<head>
    <title></title>
    <style></style>
    <script></script>
</head>
<body>
<div class="content">
    <div class="uk-alert-danger" style="height: 80%" uk-alert>
        <div class="uk-text-center uk-margin-small-bottom">
            <p class="uk-margin-small-right" uk-icon="icon: warning; ratio : 2"></p><br/>
            <h3 th:text="${message}"></h3>
        </div>
        <hr>
        <h4 class="uk-margin-small"><span class="uk-text-bold">Akcja :</span> <span th:text="${action.actionName}"></span></h4>
        <hr>
        <a class="uk-text-muted" onclick="history.back(-1)">Powrót do poprzedniej strony</a>
    </div>

</div>
</body>
</html>