<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{mainTemplates/mainTemplate :: layout(~{::title}, ~{::.content}, ~{::script}, ~{::style})}">
<head>
    <title>Add constant transaction</title>
    <style></style>
    <script>
        $(document).ready(function () {

            $('#permanentDurationSwitcher').on('change',function () {
                if (parseInt($(this).val()) === 1) {
                    $('input[name="permanentDuration"]').val(true);
                    $('#permanentDurationTrue').attr('hidden',false);
                    $('#permanentDurationFalse').attr('hidden',true);
                    $('input[name="cyclesCount"]')
                        .val('')
                        .attr('disabled',true);
                } else {
                    $('input[name="permanentDuration"]').val(false);
                    $('#permanentDurationTrue').attr('hidden',true);
                    $('#permanentDurationFalse').attr('hidden',false);
                    $('input[name="cyclesCount"]').attr('disabled',false);
                }
            });

            $('#addToActiveCycleSwitcher').on('change',function () {
                if (parseInt($(this).val()) === 1) {
                    $('input[name="addToActiveCycle"]').val(true);
                    $('#addToActiveCycleTrue').attr('hidden',false);
                    $('#addToActiveCycleFalse').attr('hidden',true);
                } else {
                    $('input[name="addToActiveCycle"]').val(false);
                    $('#addToActiveCycleTrue').attr('hidden',true);
                    $('#addToActiveCycleFalse').attr('hidden',false);
                }
            })
        })
    </script>
</head>
<body>
<div class="content">

 <div th:if="${cycleDisplayInfo != null}" class="uk-width-expand">
     <h4 style="color: #1e87f0" class="uk-margin-remove-bottom" th:text="${cycleDisplayInfo.cycleDisplayName}"></h4>
     <i class="uk-text-meta uk-margin-remove-top">Dzień cyklu : <span th:remove="tag" th:text="${cycleDisplayInfo.currentCycleDay}"></span>/<span th:remove="tag" th:text="${cycleDisplayInfo.allCycleDays}"></span></i>
 </div>
 <hr>

 <div th:if="${transactionGroups.isEmpty()}" class="uk-alert-warning" uk-alert>
     <i><span class="uk-margin-small-right" uk-icon="icon: warning; ratio : 1.5"></span>Obecnie nie posiadasz dodanej żadnej grupy transakcji przez co nie możesz dodawać nowych transakcji
         ,aby dodać swoją pierwszą grupę <a href="/transaction/group">kliknij tu</a>.</i>
 </div>



 <div class="uk-card uk-card-default">
     <div class="uk-card-header">
         <h2>Dodawanie stałych wydatków</h2>
     </div>
     <div class="uk-card-body">
         <form class="uk-form" th:object="${constantTransactionDto}" th:action="@{/transaction/constant/add}" method="POST">
             <div class="uk-flex uk-flex-between">
                 <div style="width: 45%">
                     <div class="uk-margin">
                         <label th:text="#{add.transaction.amount}"></label>
                         <input type="number" step="0.01" name="amount" class="uk-input" th:field="*{amount}">
                     </div>
                     <div class="uk-margin">
                         <label th:text="#{add.transaction.type}"></label>
                         <select class="uk-select" name="transactionType" th:field="*{transactionType}">
                             <option th:each ="type : ${transactionTypes}" th:value="${type}" th:text="${type.name}"></option>
                         </select>
                     </div>
                     <div class="uk-margin">
                         <label th:text="#{add.transaction.group}"></label>
                         <select class="uk-select" name="transactionGroup" th:field="*{transactionGroup}">
                             <option th:each ="group : ${transactionGroups}" th:value="${group.id}" th:text="${group.gorupName}"></option>
                         </select>
                     </div>
                 </div>
                 <div style="width: 45%">
                     <div class="uk-margin">
                         <label class="uk-margin-small-left">Ilość cyklów trwania transakcji: </label>
                         <input disabled value="0" type="number" name="cyclesCount" class="uk-input" th:field="*{cyclesCount}">
                     </div>
                     <div class="uk-margin">
                         <label>Bez ograniczenia czasowego: </label>
                         <input id="permanentDurationSwitcher" class="uk-range uk-margin-medium-left" style="width:100px" type="range" value="1" min="0" max="1" step="1">
                         <span id="permanentDurationTrue" class="uk-text-success uk-margin-small-right" uk-icon="icon: check; ratio : 2"></span>
                         <span hidden id="permanentDurationFalse"  class="uk-text-danger uk-margin-small-right" uk-icon="icon: close; ratio : 2"></span>
                         <input hidden type="text" name="permanentDuration" th:value="true">
                     </div>
                     <div th:if="${activeCycle != null}" class="uk-margin">
                         <label class="uk-margin-small-lef" style="margin-right: 20px !important;">Dodaj do trwającego cyklu: </label>
                         <input id="addToActiveCycleSwitcher" class="uk-range uk-margin-medium-left" style="width:100px" type="range" value="1" min="0" max="1" step="1">
                         <span id="addToActiveCycleTrue" class="uk-text-success uk-margin-small-right" uk-icon="icon: check; ratio : 2"></span>
                         <span hidden id="addToActiveCycleFalse"  class="uk-text-danger uk-margin-small-right" uk-icon="icon: close; ratio : 2"></span>
                         <input hidden type="text" name="addToActiveCycle" th:value="true">
                     </div>
                 </div>
             </div>
             <a th:if="${!transactionGroups.isEmpty()}" th:text="#{add.transaction.save}" class="uk-float-right" onclick="$(this).closest('form').submit()"><span class="uk-margin-small-right" uk-icon="icon: check"></span></a>
             <a th:if="${transactionGroups.isEmpty()}" th:text="#{add.transaction.save}" class="uk-text-muted uk-float-right"><span class="uk-margin-small-right" uk-icon="icon: check"></span></a>
         </form>
     </div>
 </div>
<hr>

    <div class="uk-width-expand">
        <h4 class="uk-text-primary uk-margin-remove-bottom">Wszystkie aktywne transakcje stałe użytkownika</h4>
    </div>
    <table class="uk-table uk-table-striped">
        <thead>
        <tr>
            <th th:text="#{add.transaction.amount}"></th>
            <th th:text="#{add.transaction.type}"></th>
            <th th:text="#{add.transaction.group}"></th>
            <th>Czy stała</th>
            <th>Ilosć wystąpień</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${constantTransactions}">
            <th th:text="${transaction.amount}"></th>
            <th th:text="${transaction.transactionType.name}"></th>
            <th th:text="${transaction.transactionGroup.gorupName}"></th>
            <th th:text="${transaction.permanentDuration} ? 'TAK' : 'NIE'"></th>
            <th th:if="${transaction.permanentDuration}">WSZYSTKIE CYKLE</th>
            <th th:if="${!transaction.permanentDuration}"><span th:text="${transaction.cyclesAppears}" th:remove="tag"></span>/<span th:text="${transaction.cyclesCount}" th:remove="tag"></span></th>
            <th><form method="POST" th:action="@{/transaction/delete/{transactionId}(transactionId=${transaction.id})}">
                <button class="uk-alert-danger" type="submit"  uk-icon="trash"></button>
            </form></th>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>