<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{mainTemplates/mainTemplate :: layout(~{::title}, ~{::.content}, ~{::script}, ~{::style})}">
<head>
    <title>Add new  transaction</title>
    <style>
        .label-radius{
            border-radius: 5px;
        }

        .uk-label, .uk-label-danger , .uk-label-success {
            padding: 2px 5px;
            width: 70px !important;
        }

        .uk-input:hover {
            cursor: pointer;
        }
    </style>
    <script th:inline="javascript">
        $(document).ready(function () {
            var dateFrom = /*[[ ${activeCycle.dateFrom} ]]*/;
            var dateTo = /*[[ ${activeCycle.dateTo} ]]*/;
            $('#transactionDate').flatpickr({
                altInput: true,
                altFormat: "F j, Y",
                dateFormat: "Y-m-d",
                minDate : dateFrom,
                maxDate : dateTo,
                locale : 'pl',
                defaultDate : new Date().toISOString().substr(0, 10)
            })
        })
    </script>
</head>
<body>
<div class="content">
    <div th:if="${cycleDisplayInfo != null}" class="uk-width-expand">
        <h4 style="color: #1e87f0" class="uk-margin-remove-bottom" th:text="${cycleDisplayInfo.cycleDisplayName}"></h4>
        <i class="uk-text-meta uk-margin-remove-top">Dzień cyklu : <span th:remove="tag" th:text="${cycleDisplayInfo.currentCycleDay}"></span>/<span th:remove="tag" th:text="${cycleDisplayInfo.allCycleDays}"></span></i>
    </div>
    <hr>

    <div th:if="${transactionGroups.isEmpty()}" class="uk-alert-warning" uk-alert>
        <i><span class="uk-margin-small-right" uk-icon="icon: warning; ratio : 1.5"></span>Obecnie nie posiadasz dodanej żadnej grupy transakcji przez co nie możesz dodawać nowych transakcji
            ,aby dodać swoją pierwszą grupę <a href="/transaction/group">kliknij tu</a>.</i>
    </div>
    <div th:if="${activeCycle == null}" class="uk-alert-warning" uk-alert>
        <i><span class="uk-margin-small-right" uk-icon="icon: warning; ratio : 1.5"></span>Obecnie nie posiadasz aktywnego cyklu przez co nie możesz dodawać nowych transakcji. Aby aktywować cykl należy przejść do <a href="/settings">ustawień urzytkownika</a>.
         Zaleca się ustawienie automatycznego odnawiania się cyklu, oszczędzi to czasu w przyszłości ponieważ cykle będą sie otwierać automatycznie.</i>
    </div>

    <div class="uk-flex uk-flex-around">
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-header">
                    <h2 th:text="#{add.transaction.title}"></h2>
                </div>
                <div class="uk-card-body">
                    <form class="uk-form" th:object="${singleTransactionDto}" th:action="@{/transaction/add}" method="POST" th:insert="transaction/include/addSingleTransactionForm.html">
                    </form>
                </div>
            </div>
        </div>
        <div>
            <div style="height:100%; min-height: 100%" class="uk-card uk-card-default">
                <div class="uk-card-header">
                    <h2 th:text="#{add.transaction.last.five}"></h2>
                </div>
                <div class="uk-card-body">
                    <table class="uk-table uk-table-striped">
                        <thead>
                        <tr>
                            <th th:text="#{add.transaction.amount}"></th>
                            <th th:text="#{add.transaction.type}"></th>
                            <th th:text="#{add.transaction.group}"></th>
                            <th th:text="#{add.transaction.date}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="transaction : ${lastTransactions}">
                            <th th:text="${transaction.amount}"></th>
                            <th>
                                <span class="label-radius"
                                      th:classappend="${transaction.transactionType == T(com.chudzick.expanses.domain.expanses.TransactionType).INCOME} ? uk-label-success : uk-label-danger"
                                      th:text="${transaction.transactionType.name}"></span>
                            </th>
                            <th th:text="${transaction.transactionGroup.gorupName}"></th>
                            <th th:text="${transaction.transactionDate}"></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>