<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <link rel="stylesheet" th:href="@{/css/uikit.min.css}" />
    <!-- UIkit JS -->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/uikit.min.js}"></script>

    <script>
        $(document).ready(function () {
            $('#notifications li').each(function () {
                var isSuccess = $(this).find('input[name="success"]').val();
                var msg = $(this).find('input[name="msg"]').val();

                if (isSuccess) {
                    UIkit.notification({message: '<i style="color: #007000"><span uk-icon=\'icon: check\'></span> ' + msg + '</i>'});
                } else {
                    UIkit.notification({message: '<i style="color: #900000"><span uk-icon=\'icon: close\'></span> ' + msg + '</i>'});
                }
            })
        });
    </script>
</head>
<body>

<div hidden id="notifications" th:if="${notificationMessagesBean != null}">
        <li th:each="notification : ${notificationMessagesBean.notificationsMessages}">
            <input name="success" th:value="${notification.success}">
            <input name="msg" th:value="${notification.message}">
        </li>
</div>
<div class="uk-container uk-margin-small">
            <h2>DODAJ NOWA TRANSAKCJE TEST</h2>
            <form class="uk-form" th:object="${singleTransactionDto}" th:action="@{/transaction/add}" method="POST">
                <div class="uk-margin">
                    <label>Kwota</label>
                    <input type="number" name="amound" class="uk-input" th:field="*{amound}">
                </div>
                <div class="uk-margin">
                    <label>Data</label>
                    <input type="date" name="transactionDate" class="uk-input" th:field="*{transactionDate}">
                </div>
                <div class="uk-margin">
                    <label>Typ transakcji</label>
                    <select class="uk-select" name="transactionType" th:field="*{transactionType}">
                        <option th:each ="type : ${transactionTypes}" th:value="${type}" th:text="${type}"></option>
                    </select>
                </div>
                <div class="uk-margin">
                    <label>Typ transakcji</label>
                    <select class="uk-select" name="transactionGroup" th:field="*{transactionGroup}">
                        <option th:each ="group : ${transactionGroups}" th:value="${group.id}" th:text="${group.gorupName}"></option>
                    </select>
                </div>
                <button type="submit" class="uk-button uk-button-primary">Zapisz</button>
            </form>
</div>
</body>
</html>