<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{mainTemplates/mainTemplate :: layout(~{::title}, ~{::.content}, ~{::script}, ~{::style})}">
<head>
    <title></title>
    <style></style>
    <script></script>
</head>
<body>
<div class="content">
    <h3 class="uk-text-primary" th:text="#{add.transaction.group.header}"></h3>
    <hr>
    <div class="uk-flex uk-flex-center">
        <form th:object="${transactionGroupDto}" class="uk-form-horizontal uk-margin uk-width-2-3" method="POST" th:action="@{/transaction/group/add}">
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text" th:text="#{add.transaction.group.name.header}"></label>
                <div class="uk-form-controls">
                    <input th:field="*{gorupName}" name="gorupName" class="uk-input" id="form-horizontal-text" type="text" th:placeholder="#{add.transaction.group.name.placeholder}">
                    <i class="uk-text-danger" th:each="error : ${#fields.errors('gorupName')}" th:text="${error}"></i>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text" th:text="#{add.transaction.group.descript.header}"></label>
                <div class="uk-form-controls">
                    <textarea th:field="*{groupDescription}" name="groupDescription" class="uk-textarea" rows="5" th:placeholder="#{add.transaction.group.descript.placeholder}"></textarea>
                    <i class="uk-text-danger" th:each="error : ${#fields.errors('groupDescription')}" th:text="${error}"></i>
                </div>
            </div>
            <div class="uk-text-center">
                <button type="submit" class="uk-button uk-button-primary submitButton" th:text="#{add.transaction.group.save}"></button>
            </div>
        </form>

    </div>

    <h3 class="uk-text-primary uk-margin-top-large" th:text="#{add.transaction.group.all}"></h3>
    <hr>
    <div th:if="${transactionGroupBean.getUsersTransactionsGroups().isEmpty()}" class="uk-alert-warning" uk-alert>
        <i th:text="#{add.transaction.group.empty.list.info}"><span class="uk-margin-small-right" uk-icon="icon: warning; ratio : 1.5"></span></i>
    </div>
    <div th:if ="${!transactionGroupBean.getUsersTransactionsGroups().isEmpty()}">
        <table class="uk-table uk-table-striped">
            <thead>
            <tr>
                <th th:text="#{add.transaction.table.lp}"></th>
                <th th:text="#{add.transaction.table.name}"></th>
                <th th:text="#{add.transaction.table.descript}"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="group,index : ${transactionGroupBean.getUsersTransactionsGroups()}">
                <td th:text="${index.count}"></td>
                <td th:text="${group.gorupName}"></td>
                <td th:text="${group.groupDescription}"></td>
                <td class="uk-text-danger">
                    <form method="POST" th:action="@{/transaction/group/delete/{groupId}(groupId=${group.id})}">
                        <button type="submit"  uk-icon="trash"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>