<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{mainTemplates/mainTemplate :: layout(~{::title}, ~{::.content}, ~{::script}, ~{::style})}">
<head>
    <title></title>
    <style></style>
    <script></script>
</head>
<body>
<div class="content">
    <div class="uk-width-expand">
        <h4 style="color: #1e87f0" class="uk-margin-remove-bottom" th:text="#{group.usage.header}"> <span th:text="${transactionGroupUsageBean.transactionGroup.gorupName}"></span></h4>
        <i class="uk-text-meta uk-margin-remove-top">Wszystkie znalezione transakcje dla danej grupy.</i><i class="uk-float-right">Liczba znalezionych rekordów : <span th:text="${transactionGroupUsageBean.groupTransactions.size()}"></span></i>
    </div>
    <hr>

    <div class="uk-alert-warning" uk-alert>
        <i><span class="uk-margin-small-right" uk-icon="icon: warning; ratio : 1.5"></span><span th:text="#{group.usage.info.text}" th:remove="tag"></span></i>
    </div>

    <table class="uk-table uk-table-striped">
        <thead>
        <tr>
            <th th:text="#{add.transaction.amound}"></th>
            <th th:text="#{add.transaction.type}"></th>
            <th th:text="#{add.transaction.group}"></th>
            <th th:text="#{add.transaction.date}"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${transactionGroupUsageBean.groupTransactions}">
            <th th:text="${transaction.amound}"></th>
            <th th:text="${transaction.transactionType.name}"></th>
            <th th:text="${transactionGroupUsageBean.transactionGroup.gorupName}"></th>
            <th th:text="${transaction.transactionDate}"></th>
            <th><form method="POST" th:action="@{/transaction/delete/{transactionId}(transactionId=${transaction.id})}">
                <button type="submit"  uk-icon="trash"></button>
            </form></th>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>