<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <link rel="stylesheet" th:href="@{/css/uikit.min.css}" />
    <!-- UIkit JS -->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/uikit.min.js}"></script>
    <script th:src="@{/js/uikit-icons.js}"></script>
</head>

<body>
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><a th:href="@{/login}" th:text="#{navabar.login}"></a></li>
            <li class="uk-active"><a th:href="@{/register}" th:text="#{navbar.register}"></a></li>
        </ul>
    </div>
</nav>
<div class="uk-container uk-margin-small">

    <div class="uk-flex uk-flex-center uk-flex-between">

        <div style="width: 45%">
            <br><h4>Monitoruj swoje wydatki!</h4>
            <i>Poczuj pełną kontrolę nad swoimi wydatkami, na bieżąco uzupełniaj swój domowy budżet. Pogrupuj swoje wydatki a dowiesz się na co wydajesz najwiecej pieniędzy !</i>
            <hr>
            <br><h4>Bądź na bierząco !</h4>
            <i>Zastanawiasz się na co wydajesz najwięcej pieniędzy, zerknij do wykresów a dowiesz się w których aspektach trzeba wprowadzić ograniczenia!</i>
            <hr>
            <br><h4>Prosto do celu!</h4>
            <i>Wymażone wakacje, nowy samochód a może mieszkanie? Określ swoje cele na które chcesz odłożyć popiniądze a napewno niedługo uda się je zrealizować!</i>
        </div>

        <div style="width: 45%" class="uk-margin-left">
            <h2 th:text="#{navbar.register}"></h2>
            <!--Info about valid form fill in-->
            <div class="uk-alert-primary" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>Login</p>
                <ul class="uk-list uk-list-bullet">
                    <li>Musi posiadać przynajmniej 6 znaków</li>
                    <li>Musi być krótszy niż 20 znaków</li>
                </ul>
                <p>Hasło musi być dłuższe od 8 znaków i posiadać przynajmniej jedną :</p>
                <ul class="uk-list uk-list-bullet">
                  <li>Dużą literę</li>
                  <li>Małą literę</li>
                  <li>Znak specjalny</li>
                  <li>Liczbę</li>
                </ul>
            </div>

            <form class="uk-form" th:object="${userDto}" th:action="@{/register}" method="POST">
                <div class="uk-margin">
                    <label th:text="#{login.form.login}"></label>
                    <input type="text" name="login" class="uk-input" th:field="*{login}">
                    <div th:each="error : ${#fields.errors('login')}">
                        <i class="uk-text-danger"  th:text="${error}"></i><br/>
                    </div>
                    <i class="uk-text-danger" th:if="${userExistError != null}" th:text="${userExistError}"></i>
                </div>
                <div class="uk-margin">
                    <label th:text="#{register.form.name}"></label>
                    <input type="text" name="name" class="uk-input" th:field="*{name}">
                    <i class="uk-text-danger" th:each="error : ${#fields.errors('name')}" th:text="${error}"></i>
                </div>
                <div class="uk-margin">
                    <label th:text="#{register.form.last.name}"></label>
                    <input type="text" name="lastName" class="uk-input" th:field="*{lastName}">
                    <i class="uk-text-danger" th:each="error : ${#fields.errors('lastName')}" th:text="${error}"></i>
                </div>
                <div class="uk-margin">
                    <label th:text="#{register.form.gender}"></label>
                    <select class="uk-select" name="gender" th:field="*{gender}">
                        <option value="men" th:text="#{gender.man}"></option>
                        <option value="woman" th:text="#{gender.woman}"></option>
                    </select>
                </div>
                <div class="uk-margin">
                    <label th:text="#{register.form.password}"></label>
                    <input type="password" name="password" class="uk-input" th:field="*{password}">
                    <div th:each="error : ${#fields.errors('password')}">
                        <i class="uk-text-danger"  th:text="${error}"></i><br/>
                    </div>
                </div>
                <div class="uk-margin">
                    <label th:text="#{register.form.repeated.password}"></label>
                    <input type="password" name="repeatedPassword" class="uk-input" th:field="*{repeatedPassword}">
                    <i class="uk-text-danger" th:each="error : ${#fields.errors('repeatedPassword')}" th:text="${error}"></i>
                    <i class="uk-text-danger" th:if="${bindingResult != null && bindingResult.getGlobalError() != null}" th:text="${bindingResult.getGlobalError().getDefaultMessage()}"></i>
                </div>
                <div class="uk-margin">
                    <label th:text="#{register.form.email}"></label>
                    <input type="email" name="email" class="uk-input" th:field="*{email}">
                    <i class="uk-text-danger" th:if="${bindingResult != null && bindingResult.getFieldError('email') != null}" th:text="${bindingResult.getFieldError('email').getDefaultMessage()}"></i>
                </div>
                <button class="uk-button uk-button-primary uk-width-1-1" type="submit" th:text="#{register.form.submit.register.button}"></button>
            </form>
        </div>
    </div>
</div>

<hr>
<footer style="background-color : #514B4F">
    <i class="uk-float-right">@Copiright Andrzej Chudzicki</i>
</footer>

</body>
</html>