<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{mainTemplates/mainTemplate :: layout(~{::title}, ~{::.content}, ~{::script}, ~{::style})}">
<head>
    <title></title>
    <style></style>
    <script>
       $(document).ready(function () {

           UIkit.upload('.js-upload', {
               name: 'file',
               url: '/settings/profile/picture',
               multiple: false,
               type: 'POST',
               mime: 'image/*',
               completeAll: function (result) {
                location.reload();
               }
           });
       });
    </script>
</head>
<body>
    <div class="content">
        <div style="border-top: 3px solid grey" class="uk-card uk-card-default uk-width-1-2">
            <div class="uk-card-header uk-text-center">
                <h4 class="uk-margin-remove-top">Ustawienia profilu</h4>
            </div>
            <div class="uk-card-body">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="80" height="80" th:src="@{/picture/profile}">
                    </div>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom"><span th:remove="tag" th:text="${user.getName()}"></span> <span th:remove="tag" th:text="${user.getLastName()}"></span></h3>
                        <div>
                            <i class="uk-text-middle">Dodaj nowe</i>
                            <div class="js-upload" uk-form-custom>
                                <input id="upload" type="file">
                                <i class="uk-link">zdjęcie</i>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <form class="uk-form" th:object="${userSettingsDto}" th:action="@{/settings/profile}" method="POST">
                    <div class="uk-margin">
                        <label th:text="#{register.form.name}"></label>
                        <input type="text" name="name" class="uk-input" th:field="*{name}">
                        <i class="uk-text-danger" th:each="error : ${#fields.errors('name')}" th:text="${error}"></i>
                    </div>
                    <div class="uk-margin">
                        <label th:text="#{register.form.last.name}"></label>
                        <input type="text" name="lastName" class="uk-input" th:field="*{lastName}">
                        <i class="uk-text-danger" th:each="error : ${#fields.errors('lastName')}" th:text="${error}"></i>
                    </div>
                    <div class="uk-margin">
                        <label th:text="#{register.form.email}"></label>
                        <input type="email" name="email" class="uk-input" th:field="*{email}">
                        <i class="uk-text-danger" th:if="${bindingResult != null && bindingResult.getFieldError('email') != null}" th:text="${bindingResult.getFieldError('email').getDefaultMessage()}"></i>
                    </div>
                    <div class="uk-text-center">
                        <button class="uk-button uk-button-primary" type="submit">Zapisz</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>